ErrorDocument 404 /404.html

RewriteEngine on

# tag/cisco/ to tags/cisco.html
RewriteRule     ^tag/(.*)$      http://tragicallyleet.com/tags/$1.html [R=301,L]

RewriteRule     ^feed           http://tragicallyleet.com/rss.xml [R=301,L]

# Remove the www
RewriteCond     %{HTTP_HOST}    ^www\.(.+)$ [NC]
RewriteRule     ^(.*)$          http://%1/$1 [R=301,L]

# Roll l33t to leet
RewriteCond     %{HTTP_HOST}    ^tragicallyl33t.com$ [NC]
RewriteRule     ^(.*)$          http://tragicallyleet.com/$1 [R=301,L]

