---
layout: default
title: Home
---
{% for post in site.posts limit:5 %}

  <div>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="span-15 last" style="font-weight: bold; ">Posted on {{ post.date | date_to_string }} in
    {% for category in post.categories %}
      <a href="/tags/{{ category }}">{{ category }}</a> 
    {% endfor %}
  </div>  <div>
  {{ post.content }}
  </div>
  <p class="signoff" style="text-align: right;">
    <a href="http://tragicallyleet.com{{ post.url }}/#disqus_thread">Comments</a>
  </p>
  </div>
{% endfor %}
