  <h3>Tag cloud</h3>
  <div style="text-align: center">
<a href="/tags/48hrfilm" title="Postings tagged 48hrfilm" style="font-size: 11.5px; line-height:11.5px">48hrfilm</a> 
<a href="/tags/annotations" title="Postings tagged annotations" style="font-size: 11.5px; line-height:11.5px">annotations</a> 
<a href="/tags/antipatterns" title="Postings tagged antipatterns" style="font-size: 13.0px; line-height:13.0px">antipatterns</a> 
<a href="/tags/architecture" title="Postings tagged architecture" style="font-size: 13.0px; line-height:13.0px">architecture</a> 
<a href="/tags/aws" title="Postings tagged aws" style="font-size: 11.5px; line-height:11.5px">aws</a> 
<a href="/tags/bash" title="Postings tagged bash" style="font-size: 11.5px; line-height:11.5px">bash</a> 
<a href="/tags/bugzilla" title="Postings tagged bugzilla" style="font-size: 11.5px; line-height:11.5px">bugzilla</a> 
<a href="/tags/capacityplanning" title="Postings tagged capacityplanning" style="font-size: 11.5px; line-height:11.5px">capacityplanning</a> 
<a href="/tags/cisco" title="Postings tagged cisco" style="font-size: 13.0px; line-height:13.0px">cisco</a> 
<a href="/tags/clojure" title="Postings tagged clojure" style="font-size: 11.5px; line-height:11.5px">clojure</a> 
<a href="/tags/creativity" title="Postings tagged creativity" style="font-size: 11.5px; line-height:11.5px">creativity</a> 
<a href="/tags/database" title="Postings tagged database" style="font-size: 11.5px; line-height:11.5px">database</a> 
<a href="/tags/ec2" title="Postings tagged ec2" style="font-size: 11.5px; line-height:11.5px">ec2</a> 
<a href="/tags/eff" title="Postings tagged eff" style="font-size: 11.5px; line-height:11.5px">eff</a> 
<a href="/tags/email" title="Postings tagged email" style="font-size: 11.5px; line-height:11.5px">email</a> 
<a href="/tags/engineering" title="Postings tagged engineering" style="font-size: 11.5px; line-height:11.5px">engineering</a> 
<a href="/tags/filmmaking" title="Postings tagged filmmaking" style="font-size: 11.5px; line-height:11.5px">filmmaking</a> 
<a href="/tags/finances" title="Postings tagged finances" style="font-size: 11.5px; line-height:11.5px">finances</a> 
<a href="/tags/freedom" title="Postings tagged freedom" style="font-size: 11.5px; line-height:11.5px">freedom</a> 
<a href="/tags/functionalprogramming" title="Postings tagged functionalprogramming" style="font-size: 11.5px; line-height:11.5px">functionalprogramming</a> 
<a href="/tags/git" title="Postings tagged git" style="font-size: 11.5px; line-height:11.5px">git</a> 
<a href="/tags/grails" title="Postings tagged grails" style="font-size: 14.5px; line-height:14.5px">grails</a> 
<a href="/tags/groovy" title="Postings tagged groovy" style="font-size: 16.0px; line-height:16.0px">groovy</a> 
<a href="/tags/gtd" title="Postings tagged gtd" style="font-size: 11.5px; line-height:11.5px">gtd</a> 
<a href="/tags/happiness" title="Postings tagged happiness" style="font-size: 11.5px; line-height:11.5px">happiness</a> 
<a href="/tags/hibernate" title="Postings tagged hibernate" style="font-size: 11.5px; line-height:11.5px">hibernate</a> 
<a href="/tags/interruption" title="Postings tagged interruption" style="font-size: 11.5px; line-height:11.5px">interruption</a> 
<a href="/tags/investing" title="Postings tagged investing" style="font-size: 11.5px; line-height:11.5px">investing</a> 
<a href="/tags/java" title="Postings tagged java" style="font-size: 25.0px; line-height:25.0px">java</a> 
<a href="/tags/jekyll" title="Postings tagged jekyll" style="font-size: 11.5px; line-height:11.5px">jekyll</a> 
<a href="/tags/licensing" title="Postings tagged licensing" style="font-size: 11.5px; line-height:11.5px">licensing</a> 
<a href="/tags/lifehack" title="Postings tagged lifehack" style="font-size: 11.5px; line-height:11.5px">lifehack</a> 
<a href="/tags/linux" title="Postings tagged linux" style="font-size: 13.0px; line-height:13.0px">linux</a> 
<a href="/tags/macosx" title="Postings tagged macosx" style="font-size: 13.0px; line-height:13.0px">macosx</a> 
<a href="/tags/mapreduce" title="Postings tagged mapreduce" style="font-size: 11.5px; line-height:11.5px">mapreduce</a> 
<a href="/tags/maven" title="Postings tagged maven" style="font-size: 13.0px; line-height:13.0px">maven</a> 
<a href="/tags/memorymanagement" title="Postings tagged memorymanagement" style="font-size: 11.5px; line-height:11.5px">memorymanagement</a> 
<a href="/tags/metaprogramming" title="Postings tagged metaprogramming" style="font-size: 13.0px; line-height:13.0px">metaprogramming</a> 
<a href="/tags/metrics" title="Postings tagged metrics" style="font-size: 11.5px; line-height:11.5px">metrics</a> 
<a href="/tags/myprogwrimo" title="Postings tagged myprogwrimo" style="font-size: 16.0px; line-height:16.0px">myprogwrimo</a> 
<a href="/tags/netneutrality" title="Postings tagged netneutrality" style="font-size: 11.5px; line-height:11.5px">netneutrality</a> 
<a href="/tags/neuroscience" title="Postings tagged neuroscience" style="font-size: 11.5px; line-height:11.5px">neuroscience</a> 
<a href="/tags/nfjs" title="Postings tagged nfjs" style="font-size: 25.0px; line-height:25.0px">nfjs</a> 
<a href="/tags/notifications" title="Postings tagged notifications" style="font-size: 11.5px; line-height:11.5px">notifications</a> 
<a href="/tags/opensource" title="Postings tagged opensource" style="font-size: 11.5px; line-height:11.5px">opensource</a> 
<a href="/tags/opinion" title="Postings tagged opinion" style="font-size: 19.0px; line-height:19.0px">opinion</a> 
<a href="/tags/orm" title="Postings tagged orm" style="font-size: 11.5px; line-height:11.5px">orm</a> 
<a href="/tags/passion" title="Postings tagged passion" style="font-size: 11.5px; line-height:11.5px">passion</a> 
<a href="/tags/patterns" title="Postings tagged patterns" style="font-size: 13.0px; line-height:13.0px">patterns</a> 
<a href="/tags/performance" title="Postings tagged performance" style="font-size: 13.0px; line-height:13.0px">performance</a> 
<a href="/tags/productivity" title="Postings tagged productivity" style="font-size: 20.5px; line-height:20.5px">productivity</a> 
<a href="/tags/programming" title="Postings tagged programming" style="font-size: 11.5px; line-height:11.5px">programming</a> 
<a href="/tags/projects" title="Postings tagged projects" style="font-size: 11.5px; line-height:11.5px">projects</a> 
<a href="/tags/puppet" title="Postings tagged puppet" style="font-size: 11.5px; line-height:11.5px">puppet</a> 
<a href="/tags/python" title="Postings tagged python" style="font-size: 11.5px; line-height:11.5px">python</a> 
<a href="/tags/rails" title="Postings tagged rails" style="font-size: 11.5px; line-height:11.5px">rails</a> 
<a href="/tags/rake" title="Postings tagged rake" style="font-size: 11.5px; line-height:11.5px">rake</a> 
<a href="/tags/refactoring" title="Postings tagged refactoring" style="font-size: 11.5px; line-height:11.5px">refactoring</a> 
<a href="/tags/routine" title="Postings tagged routine" style="font-size: 13.0px; line-height:13.0px">routine</a> 
<a href="/tags/ruby" title="Postings tagged ruby" style="font-size: 13.0px; line-height:13.0px">ruby</a> 
<a href="/tags/scalability" title="Postings tagged scalability" style="font-size: 13.0px; line-height:13.0px">scalability</a> 
<a href="/tags/school" title="Postings tagged school" style="font-size: 11.5px; line-height:11.5px">school</a> 
<a href="/tags/science" title="Postings tagged science" style="font-size: 11.5px; line-height:11.5px">science</a> 
<a href="/tags/scm" title="Postings tagged scm" style="font-size: 11.5px; line-height:11.5px">scm</a> 
<a href="/tags/software" title="Postings tagged software" style="font-size: 11.5px; line-height:11.5px">software</a> 
<a href="/tags/sysadmin" title="Postings tagged sysadmin" style="font-size: 16.0px; line-height:16.0px">sysadmin</a> 
<a href="/tags/tapestry" title="Postings tagged tapestry" style="font-size: 11.5px; line-height:11.5px">tapestry</a> 
<a href="/tags/tdd" title="Postings tagged tdd" style="font-size: 11.5px; line-height:11.5px">tdd</a> 
<a href="/tags/technology" title="Postings tagged technology" style="font-size: 19.0px; line-height:19.0px">technology</a> 
<a href="/tags/tesla" title="Postings tagged tesla" style="font-size: 11.5px; line-height:11.5px">tesla</a> 
<a href="/tags/testing" title="Postings tagged testing" style="font-size: 13.0px; line-height:13.0px">testing</a> 
<a href="/tags/toolbox" title="Postings tagged toolbox" style="font-size: 11.5px; line-height:11.5px">toolbox</a> 
<a href="/tags/virtualization" title="Postings tagged virtualization" style="font-size: 11.5px; line-height:11.5px">virtualization</a> 
<a href="/tags/wordpress" title="Postings tagged wordpress" style="font-size: 13.0px; line-height:13.0px">wordpress</a> 
<a href="/tags/work" title="Postings tagged work" style="font-size: 14.5px; line-height:14.5px">work</a> 
</div>
