<h3>My Twitter</h3>
 <script src="http://widgets.twimg.com/j/2/widget.js"> </script>
 <script>
 new TWTR.Widget({
   version: 2,
   type: 'profile',
   rpp: 5,
   interval: 6000,
   width: 'auto',
   height: 300,
   theme: {
     shell: {
       background: '#ffffff',
       color: '#000000'
     },
     tweets: {
       background: '#dbdbdb',
       color: '#000000',
       links: '#15b8d9'
     }
   },
   features: {
     scrollbar: false,
     loop: false,
     live: true,
     hashtags: true,
     timestamp: true,
     avatars: false,
     behavior: 'all'
   }
 }).render().setUser('jhulten').start();
 </script>

